@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-sans: "Crimson Pro Variable", serif;
  --font-serif: "Crimson Pro Variable", serif;
  --font-display: "IM Fell English SC", serif;

  /* Accent Colors */
  --color-accent-50: var(--color-red-50);
  --color-accent-100: var(--color-red-100);
  --color-accent-200: var(--color-red-200);
  --color-accent-300: var(--color-red-300);
  --color-accent-400: var(--color-red-400);
  --color-accent-500: var(--color-red-500);
  --color-accent-600: var(--color-red-600);
  --color-accent-700: var(--color-red-700);
  --color-accent-800: var(--color-red-800);
  --color-accent-900: var(--color-red-900);
  --color-accent-950: var(--color-red-950);

  /* Gray Colors */
  --color-gray-50: var(--color-stone-50);
  --color-gray-100: var(--color-stone-100);
  --color-gray-200: var(--color-stone-200);
  --color-gray-300: var(--color-stone-300);
  --color-gray-400: var(--color-stone-400);
  --color-gray-500: var(--color-stone-500);
  --color-gray-600: var(--color-stone-600);
  --color-gray-700: var(--color-stone-700);
  --color-gray-800: var(--color-stone-800);
  --color-gray-900: var(--color-stone-900);
  --color-gray-950: var(--color-stone-950);
}

:root {
  /* Astro - Base Colors */
  --sl-color-black: var(--color-gray-950);

  /* Astro - Layout Colors */
  --sl-color-bg-nav: var(--sl-color-black);
  --sl-color-bg-sidebar: var(--sl-color-black);
  --sl-color-hairline-shade: var(--color-gray-900);

  /* Astro - Accent Colors */
  --sl-color-accent-low: var(--color-accent-950);
  --sl-color-accent: var(--color-accent-500);
  --sl-color-accent-high: var(--color-accent-300);
  --sl-color-text: var(--sl-color-gray-2);
  --sl-color-text-accent: var(--sl-color-accent);
  --sl-color-text-invert: var(--sl-color-accent-low);

  /* Astro - Sidebars */
  :where(.astro-qkwjmsa7)[aria-current="page"] {
    /* background-color: var(--sl-color-accent-low);
    color: var(--sl-color-accent-high); */
    /* opacity: 75%; */
    /* color: var(--sl-color-white); */
  }

  /* Astro - Headers */
  .site-title {
    font-family: var(--font-display);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-display);
  }

  /* Astro - Prose */
  .sl-markdown-content code:not(:where(.not-content *)) {
    background-color: var(--sl-color-accent-low);
    color: var(--sl-color-accent-high);
    border-radius: var(--radius-sm);
    padding: 0.125rem 0.25rem;
  }
}
